:root {
  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Lily Script One", system-ui;
  /* background-color: #0D0D0D; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family-primary);
  color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
}

/* UTILITY STYLES */

.bold {
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.accent {
  color: #00a8e8;
}

.ff-accent {
  font-family: var(--font-family-secondary);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION STYLES */

/* NAVBAR SECTION STYLES */

nav {
  background-color: #0d0d0d;
  color: #fff;
  border-bottom: 1px solid #ffffff80;
  padding-block: 0.5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 0.8rem;
  font-weight: 400;
}

.navbar__logo span {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.navbar__items,
.navbar__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}

.navbar__list {
  list-style: none;
}

.navbar__btn {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #0d0d0d;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

/* HERO SECTION STYLES */

.hero__section {
  background-color: #0d0d0d;
  color: #fff;
  text-align: center;
  padding-block: 200px 100px;
}

.hero__section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 800px;
}

.hero__section-span {
  align-self: center;
  background-color: #ffffff1f;
  border: 1px solid #ffffff26;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.hero__section-title {
  font-size: 3rem;
}

.hero__section-text {
  font-size: 1.2rem;
}

.hero__section-button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #0d0d0d;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

/* SLIDER SECTION STYLES */

.slider {
  background-color: #0d0d0d;
  padding-block: 50px;
}

.slider-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider-container {
    justify-content: center;
  }
}

/* ABOUT SECTION STYLES */

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 3rem;
  background-color: #fefefe;
}

.about-content {
  flex: 0 0 35%;
  min-width: 280px;
  max-width: 100%;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #0000008f;
}

.about-span {
  font-size: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  color: #0000008f;
}

.about .bold {
  color: #333;
}

.about-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #333;
}

.about-button {
  background: linear-gradient(to right, #fff 50%, #ddd);
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background-color: #0056b3;
}

.about-image-container {
  flex: 0 0 65%;
  min-width: 250px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 0;
  }

  .about-content {
    align-items: center;
  }
}
