:root {
  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Lily Script One", system-ui;
  /* background-color: #0D0D0D; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family-primary);
  color: #FFFFFF;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  height: 12vh;
  border-bottom: 1px solid grey;
}

nav .left {
  width: 30vw;
  font-size: 0.8rem;
  margin-left: 4rem;
  align-self: center;
}

nav .left p {
  font-family: var(--font-family-secondary);
}
nav .right {
  margin-left: 29vw;
  align-self: center;
}
nav ul {
  display: flex;
  height: 10vh;
}
nav li {
  list-style: none;
  align-self: center;
  padding: 0.5rem 1rem;
  margin-right:5px;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}
nav li:hover {
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.4s;
}
.hero-div {
  background-color: black;
  color: white;
  padding: 1rem;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}
.hero-div h4 {
  border: 1px solid grey;
  background: rgba(128, 128, 128, 0.155);
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  border-radius: 50px;
}
.hero-div h3,h2 {
  font-size: 2.5vw;
}
.hero-div span {
  color: rgb(19, 19, 174);
}
.hero-div button {
  margin-top: 10px;
  border: none;
  background: rgb(245, 245, 245);
  padding: 0.5rem;
  font-weight: 800;
  border-radius: 4px;
}
img {
  max-width: 100%;
}

/* UTILITY STYLES */

.bold {
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* SECTION STYLES */

/* SLIDER SECTION STYLES */

.slider {
  background-color: #0d0d0d;
  padding-block: 50px;
}

.slider-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider-container {
    justify-content: center;
  }
}

/* ABOUT SECTION STYLES */

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 3rem;
  background-color: #fefefe;
}

.about-content {
  flex: 0 0 35%;
  min-width: 280px;
  max-width: 100%;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #0000008F;
}

.about-span {
  font-size: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  color: #0000008F;
}

.about .bold {
  color: #333;
}

.about-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #333;
}

.about-button {
  background: linear-gradient(to right, #fff 50%, #ddd);
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background-color: #0056b3;
}

.about-image-container {
  flex: 0 0 65%;
  min-width: 250px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    align-items: center;
  }
}
